
@{

}

<div class="uk-container">
    <h1>Reportes</h1>
    <div class="uk-overflow-auto">
        <div>
            <ul id="tabla-reportes-paginacion" class="uk-pagination"></ul>
        </div>
        <table id="tabla-reportes" class="uk-table uk-table-divider uk-text-nowrap uk-table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/reportes/reportes.js"></script>
}