
@{

}

<div class="uk-container">
    <h1>Index personas físicas</h1>
    <div>
        <div uk-grid>
            <div class="uk-flex uk-flex-left">
                <ul id="tabla-personas-paginacion" class="uk-pagination"></ul>
            </div>
            <div class="uk-flex uk-flex-right">
                <button id="tabla-personas-exportar" type="button" class="uk-button uk-button-primary">Exportar</button>
            </div>
            <div>
                <button uk-toggle="target: #modal-crear" type="button" class="uk-button uk-button-primary">Registrar persona</button>
            </div>
        </div>
        <div class="uk-overflow-auto">
            <table id="tabla-personas" class="uk-table uk-table-divider uk-text-nowrap uk-table-hover">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal-crear" class="uk-flex-top" uk-modal="stack: true; bgClose: false">
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body" uk-overflow-auto>
            <div>
                <form id="form-crear" class="uk-form-stacked">
                    <fieldset class="uk-fieldset">
                        <div class="uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
                            <div>
                                <div>
                                    <label for="Nombre">Nombre</label>
                                    <div class="uk-form-controls">
                                        <input type="text" autocomplete="off" class="uk-input" name="Nombre" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="ApellidoPaterno">Apellido paterno</label>
                                    <div class="uk-form-controls">
                                        <input type="text" autocomplete="off" class="uk-input" name="ApellidoPaterno" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="ApellidoMaterno">Apellido materno</label>
                                    <div class="uk-form-controls">
                                        <input type="text" autocomplete="off" class="uk-input" name="ApellidoMaterno" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="RFC">RFC</label>
                                    <div class="uk-form-controls">
                                        <input type="text" autocomplete="off" class="uk-input" name="RFC" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="FechaNacimiento">Fecha de nacimiento</label>
                                    <div class="uk-form-controls">
                                        <input type="date" autocomplete="off" class="uk-input" name="FechaNacimiento" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-text-center uk-margin-small-top">
                            <button type="submit" class="uk-button uk-button-primary">Guardar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-editar" class="uk-flex-top" uk-modal="stack: true; bgClose: false">
    <div class="uk-modal-dialog uk-modal-body" uk-overflow-auto>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div @*class="uk-modal-body" uk-overflow-auto*@>
            <div>
                <form id="form-editar" class="uk-form-stacked">
                    <fieldset class="uk-fieldset">
                        <div class="uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
                            <div>
                                <div>
                                    <label for="Nombre">Nombre</label>
                                    <div class="uk-form-controls">
                                        <input type="text" autocomplete="off" class="uk-input" name="Nombre" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="ApellidoPaterno">Apellido paterno</label>
                                    <div class="uk-form-controls">
                                        <input type="text" autocomplete="off" class="uk-input" name="ApellidoPaterno" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="ApellidoMaterno">Apellido materno</label>
                                    <div class="uk-form-controls">
                                        <input type="text" autocomplete="off" class="uk-input" name="ApellidoMaterno" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="RFC">RFC</label>
                                    <div class="uk-form-controls">
                                        <input type="text" autocomplete="off" class="uk-input" name="RFC" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="FechaNacimiento">Fecha de nacimiento</label>
                                    <div class="uk-form-controls">
                                        <input type="date" autocomplete="off" class="uk-input" name="FechaNacimiento" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-text-center uk-margin-small-top">
                            <button type="submit" class="uk-button uk-button-primary">Modificar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {    
    <script type="text/javascript" src="~/Scripts/fisicas/fisicas.js"></script>
}